<ion-view view-title="Bebidas">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">JUGOS</div>
      <div class="item item-body">
        <div>
        <ol>
            <li>Iced Tea &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>$ 30.00</b> </li>
            <li>Limonada &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;            <b>$ 35.00</b> </li>
            <li>Limonada Frozen &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;             <b>$ 75.00</b> </li>
            
        </ol>
           
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">CAFES</div>
      <div class="item item-body">
        <div>
        <ol>
            <li>Cafe  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>$ 40.00</b> </li>
            <li>Capuccino&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;            <b>$ 75.00</b> </li>
           
            
        </ol>
        <div class="list card">
      <div class="item item-divider">Vinos</div>
      <div class="item item-body">
        <div>
        <ol>
            <li>    Copa de vino de la casa &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>$ 120.00</b> </li>
       
            
        </ol>
         
         
       
  </div>  </div>  </div>
  </div></div></div>
  </ion-content>
</ion-view>