<ion-view view-title="Postres">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">HELADOS</div>
      <div class="item item-body">
        <div>
        <ol>
            <li>Vainilla &nbsp;  &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>$ 20.00</b> </li>
            <li>Chocolate &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;            <b>$ 20.00</b> </li>
            <li>Combinado &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;             <b>$ 25.00</b> </li>
            
        </ol>
           
        </div>
      </div>
    </div>
    
         
       
  
  </ion-content>
</ion-view>