<ion-view view-title="Desayunos">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">FRUTA,YOGURT Y CEREALES</div>
      <div class="item item-body">
        <div>
        <ol>
            <li>Plato de frutas frescas de la estacion  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>$ 30.00</b> </li>
            <li>Plato de frutas frescas de la estacion con cottage &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;            <b>$ 48.00</b> </li>
            <li>Plato de frutas frescas de la estacion con yogurt  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;             <b>$ 39.00</b> </li>
            
        </ol>
           
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">OMELETTES</div>
      <div class="item item-body">
        <div>
        <ol>
            <li>Omelette de jamon  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>$ 45.00</b> </li>
            <li>Omelette de champiñon &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;            <b>$ 38.00</b> </li>
            <li>Omelette de queso &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;             <b>$ 38.00</b> </li>
            
        </ol>
       
  </div>  </div>  </div>
  </ion-content>
</ion-view>